In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer

from sklearn.compose import ColumnTransformer

In [4]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [5]:
df.dropna(inplace=True)

In [6]:
df.head(5)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [7]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
clf=DecisionTreeClassifier()

In [11]:
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
accuracy_score(y_test,y_pred)

0.6223776223776224

In [14]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring='accuracy'))

0.6260758998435054

In [22]:
kbin_age=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')
kbin_fare=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')

In [23]:
trf=ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [24]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf=trf.transform(x_test)

In [25]:
trf.named_transformers_['first'].n_bins_

array([10])

In [26]:
output=pd.DataFrame({
    'age':x_train['Age'],
    'age_trf':x_train_trf[:,0],
    'fare':x_train['Fare'],
    'fare_trf':x_train_trf[:,1]
})

In [28]:
output['age_labels']=pd.cut(x=x_train['Age'],bins=trf.named_transformers_['first'].bin_edges_[0].tolist())
output['fare_labels']=pd.cut(x=x_train['Fare'],bins=trf.named_transformers_['second'].bin_edges_[0].tolist())

In [30]:
output.sample(5)

      age  age_trf     fare  fare_trf    age_labels       fare_labels
472  33.0      6.0  27.7500       6.0  (32.0, 36.0]    (26.0, 29.125]
571  53.0      9.0  51.4792       8.0  (50.0, 80.0]  (29.125, 51.479]
827   1.0      0.0  37.0042       7.0  (0.42, 14.0]  (29.125, 51.479]
728  25.0      4.0  26.0000       6.0  (22.0, 25.0]     (15.75, 26.0]
607  27.0      4.0  30.5000       7.0  (25.0, 28.5]  (29.125, 51.479]

In [31]:
clf=DecisionTreeClassifier()
clf.fit(x_train_trf,y_train)
y_pred2=clf.predict(x_test_trf)

In [32]:
accuracy_score(y_test,y_pred2)

0.6223776223776224