In [2]:
import pandas as pd
df=pd.read_csv('weather_data.csv')

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
rows, columns=df.shape

In [9]:
columns

4

In [16]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [19]:
df[0:7]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [25]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [26]:
type(df['event'])

pandas.core.series.Series

In [31]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [32]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [38]:
df['temperature'].std()

3.8297084310253524

In [39]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [45]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [46]:
df[5]

KeyError: 5

In [49]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [50]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [52]:
df=df.set_index('day')

In [55]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [75]:
df.reset_index()

   index  temperature  windspeed
0      0           32          6
1      1           35          7
2      2           28          2
3      3           24          7
4      4           32          4
5      5           31          2

In [72]:
df

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [67]:
df=df.set_index('temperature',inplace=True)

KeyError: "None of ['temperature'] are in the columns"

In [77]:
df

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [69]:
df.reset_index

<bound method DataFrame.reset_index of              windspeed
temperature
32                   6
35                   7
28                   2
24                   7
32                   4
31                   2>

In [73]:
df

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

TypeError: reset_index() missing 1 required positional argument: 'self'

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [78]:
df

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [79]:
df.reset_index(drop=True, inplace=True)

In [80]:
df

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [82]:
df.drop('event', axis=1, inplace=True)

KeyError: "['event'] not found in axis"

In [85]:
df.reset_index(inplace=True)
df

   level_0  index  temperature  windspeed
0        0      0           32          6
1        1      1           35          7
2        2      2           28          2
3        3      3           24          7
4        4      4           32          4
5        5      5           31          2

In [84]:
df

   index  temperature  windspeed
0      0           32          6
1      1           35          7
2      2           28          2
3      3           24          7
4      4           32          4
5      5           31          2

In [86]:
df

   level_0  index  temperature  windspeed
0        0      0           32          6
1        1      1           35          7
2        2      2           28          2
3        3      3           24          7
4        4      4           32          4
5        5      5           31          2

In [90]:
df=pd.read_csv('weather_data.csv')

In [91]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [93]:
df.loc['Snow']

KeyError: 'Snow'

In [94]:
df.set_index('event',inplace=True)

In [95]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [100]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

# DATA FRAME IN PANDAS

In [102]:
import pandas as pd

df=pd.read_csv('weather_data.csv')

In [103]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [110]:
weather_data_from_dictinoary={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','snow','Rain','Sunny']
}

In [111]:
weather_data_from_dictionary

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2],
 'event': ['Rain', 'Sunny', 'Snow', 'snow', 'Rain', 'Sunny']}

In [112]:
pd.DataFrame(weather_data_from_dictinoary)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [113]:
df1=pd.DataFrame(weather_data_from_dictinoary)

In [114]:
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [115]:
import csv

In [116]:
df2=pd.DataFrame.from_dict(df1)

In [117]:
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [118]:
df2.to_csv('weather_data_from_dictionary.csv',index=False)

In [122]:
df3=pd.read_csv('weather_data_from_dictionary.csv')

In [123]:
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [124]:
type(df3)

pandas.core.frame.DataFrame

In [125]:
df={
   "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": 28,
   "address": {
       "streetAddress": "101",
       "city": "San Diego",
       "state": "CA"
   },
   "phoneNumbers": [
       { "type": "home", "number": "7349282382" }
   ]
}

In [126]:
df

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': {'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'},
 'phoneNumbers': [{'type': 'home', 'number': '7349282382'}]}

In [130]:
df.to_csv('json_file_to_csv_file.csv',index=None)

AttributeError: 'dict' object has no attribute 'to_csv'

In [131]:
df

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': {'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'},
 'phoneNumbers': [{'type': 'home', 'number': '7349282382'}]}

In [133]:
df=pd.read_json('json_file.json',orient=)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.